
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask
instance/
*.db

# Environment
venv/
.env/

# Logs
*.log

# IDE
.vscode/
.idea/

# Mac / Windows
.DS_Store
Thumbs.db
